<!DOCTYPE html>
<html>
<head>
    <title> Login Page </title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <form method="POST" action="/do_login">
        Email:
        <input type="email" name="email" placeholder="Email">
        Password
        <input type="password" name="password" placeholder="Password">
        <button type="submit"> Login </button>
    </form>

    <div class="error-message">
        Error
    </div>
</body>
</html>