<!DOCTYPE html>
<html>
<head>
	<title>Page Check ID</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<form method="GET" action="do_checkid">
		ID:
		<br>
		<input type="number" name="id" placeholder="ID">
		<br>
		<button type="submit">Check ID</button>
	</form>

</body>
</html>