<!DOCTYPE html>
<html>
<head>
	<title>Find Email</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<form method="POST" action="do_find_email">
		Name:
		<br>
		<input type="text" name="name" placeholder="Nhap ten vao day">
		<br>
		<button type="submit">Tim</button>
		
	</form>

</body>
</html>