<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <form method="POST" action="do_login">
        Email:
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>
        Password:
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button type="submit">Login</button>
    </form>

</body>
</html>